<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.redbudtek.weixin.mapper.ScheduledMapper" >
    <resultMap id="BaseResultMap" type="com.redbudtek.weixin.model.JobEntity" >
        <id column="job_id" property="jobId" jdbcType="BIGINT" />
        <result column="devid" property="devid" jdbcType="VARCHAR" />
        <result column="itemid" property="itemid" jdbcType="VARCHAR" />
        <result column="val" property="val" jdbcType="VARCHAR" />
        <result column="job_status" property="jobStatus" jdbcType="INTEGER" />
        <result column="cron_time" property="cronTime" jdbcType="VARCHAR" />
        <result column="create_dttm" property="createDttm" jdbcType="TIMESTAMP" />
        <result column="update_dttm" property="updateDttm" jdbcType="TIMESTAMP"  />
    </resultMap>
    <sql id="Base_Column_List" >
        job_id, devid, itemid,val,job_status,cron_time,create_dttm,update_dttm
    </sql>

    <insert id="insert" parameterType="com.redbudtek.weixin.model.JobEntity" useGeneratedKeys="true" keyProperty="jobId">
    INSERT INTO
        t_device_schedule_job
    (   job_id,
        devid,
        itemid,
        val,
        job_status,
        cron_time,
        create_dttm,
        update_dttm )
        VALUES
	(
	    nextval('weixin_job_id'),
	    #{devid,jdbcType=VARCHAR},
	    #{itemid,jdbcType=VARCHAR},
	    #{val,jdbcType=VARCHAR},
	    #{jobStatus,jdbcType=INTEGER},
	    #{cronTime,jdbcType=VARCHAR},
	    now(),
	    now() )
  </insert>

    <select id="selectJobByFields" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            t_device_schedule_job
        where
            1 = 1
            <if test="jobStatus != null">
                and job_status = #{jobStatus,jdbcType=INTEGER}
            </if>
    </select>

</mapper>